@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  background-color: hsl(235, 21%, 11%);
  /* background-color: rgb(199, 199, 199); */
  background-image: url('/public/images/earth.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  transition: all 500ms ease;
  font-family: 'Bungee', cursive;
}

.container {
  max-width: 650px;
  width: 100%;
  margin-top: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  letter-spacing: 10px;
  font-size: 25px;
}

.task-input {
  background-color: hsl(235, 24%, 19%);
  width: 100%;
  height: 70px;
  border-radius: 6px;
  margin-bottom: 40px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.check {
  flex-basis: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-mark img {
  visibility: hidden;
}

.check-mark.checked img, .check-mark:hover img {
  visibility: visible;
}

.check-mark {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgb(68, 69, 90);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.check-mark:hover {
  background: linear-gradient(135deg, #55DDFF, #C058F3 100%);
}

.check-mark.checked {
  background: linear-gradient(135deg, #55DDFF, #C058F3 100%);
}

.new-todo-input {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

#todo-input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: hsl(234, 39%, 85%);
  font-size: 18px;
  padding: 10px 0px;
  font-family: 'Bungee', cursive;
}

.new-todo-input form{
  flex-grow: 1;
  display: flex;
}

.task-list-wrapper {
  margin-top: 30px;
  border-radius: 6px;
  background-color: hsl(235, 24%, 19%);
  box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.4);
  overflow: hidden;
}

.task-list {
  width: 100%;
  max-height: 500px;
  overflow: scroll;
}

.task-list::-webkit-scrollbar {
  display: none;
}

.task-item {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(237, 14%, 26%);
  transition: all 250ms ease;
  position: relative;
}

.task-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 7px 0 hsl(235, 21%, 11%);
}

.task-text {
  color: hsl(234, 39%, 85%); 
}

.delete-button {
  position: absolute;
  right: 0;
  cursor: pointer;
  margin-right: 25px;
}

.task-text.checked {
  text-decoration: line-through;
  color: hsl(233, 14%, 35%);
}

.task-items-info {
  width: 100%;
  height: 70px;
  border-top: 1px solid hsl(237, 14%, 26%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  color: hsl(235, 14%, 35%);
  text-align: center;
  /* justify-content: space-between; */
}

.items-statuses span {
  padding: 0 4px;
}

.items-statuses span:hover, .items-clear:hover {
  color: hsl(220, 98%, 61%);
  cursor: pointer;
}

.items-statuses .active {
  color: hsl(220, 98%, 61%);
  border: 1px solid hsl(220, 98%, 61%);
  border-radius: 5px;
}

@media only screen and (max-height:850px) {
  .task-list {
    max-height: 200px;
  }
}

@media only screen and (max-height:500px) {
  .task-list {
    max-height: 70px;
  }
}

@media only screen and (max-width: 500px) {
  .App {
    font-size: 13px;
  }

  #todo-input {
    font-size: 13px;
  }

  .check {
    flex-basis: 40px;
    width: 5px;
  }

  .check-mark {
    width: 20px;
    height: 20px;
  }

  .task-items-info {
    font-size: 10px;
    padding: 0;
  }

  .delete-button {
    margin-right: 2px;
  }
}

/* Light Mode CSS */
.App.lightMode {
  background-color: gainsboro;
  filter: hue-rotate(150deg);
}

.task-input.lightMode {
  background-color: rgb(156, 156, 156);
}

.task-list-wrapper.lightMode {
  background-color: rgb(156, 156, 156);
}

.task-text.lightMode {
  color: black;
}

.items-statuses.lightMode span:hover, .items-clear.lightMode:hover {
  color: hsl(220, 58%, 51%);
  cursor: pointer;
}

.items-statuses .active.lightMode {
  color: hsl(220, 58%, 51%);
  border: 1px solid hsl(220, 58%, 51%);
}